body {
  margin: 0px;
  background-color: #fdf2f8;
}

.menu {
  height: 64px;
  width: 100%;
  background-color: rgba(244, 114, 182, 70%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
}

button {
  background-color: #6366f1;
  color: white;
  border: 2px solid white;
  padding: 12px 20px;
  border-radius: 16px;
}
.books-container {
  display: grid;
  justify-items: center;
  gap: 16px;
  margin-bottom: 68px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.book-upper {
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 16px;
}

.book-upper > * {
  margin: 0;
}

.book-read {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.book-title {
  padding-bottom: 60px;
  font-size: 1.2rem;
}
.book {
  box-shadow: 4px 4px 8px gray;
  border: 1px solid black;
  border-radius: 16px;
  aspect-ratio: 2/3;
  height: auto;
  width: 150px;
  display: grid;
  grid-template-rows: 200px 20px;
}

dialog::backdrop {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
